<div>
    <h2>Adicionar Produto</h2>
    <input [(ngModel)]="newProduct.nome" placeholder="Nome do produto">
    <input [(ngModel)]="newProduct.preco" type="number" placeholder="Preço">
    <input [(ngModel)]="newProduct.descricao" placeholder="Descrição">
    <button (click)="addProduct()">Adicionar</button>
  </div>
  
  <hr>
  
  <div>
    <h2>Lista de Produtos</h2>
    <ul>
      <li *ngFor="let produto of products">
        <strong>{{produto.nome}}</strong> (R$ {{produto.preco}})
        - {{produto.descricao}}
      </li>
    </ul>
  </div>
  